Django
djangorestframework
django-rest-auth
django-allauth
django-axes
django-filter
requests
Pillow
django-cors-headers
channels
channels-redis
exponent_server_sdk
sendgrid
drf_yasg
factory_boy
pytest-django
uwaterloodriver
psycopg2-binary
gunicorn
daphne
sentry-sdk
black
pylint-django
