Django
djangorestframework==3.11.1
django-rest-auth
django-allauth
django-filter
Pillow
django-cors-headers
channels
channels-redis
sendgrid
drf_yasg
factory_boy
pytest-django
uwaterloodriver
psycopg2
gunicorn
daphne
sentry-sdk
