.formStyle {
    margin: 5% 30% 5% 30%;
}

.imgPreviewStyle {
    text-align: center;
    margin-top: 5px;
    padding-left: 15px;
    margin-bottom:5px;
    padding-right:30px;
    height: 250px;
    width: 250px;
    border : 1px solid gray;
}

.headerAlertStyle {
    margin : 2% 10% 5% 10%;
}
