.form-control {
  background-color: #ebebeb;
}

.navbar {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
}

.navbar-brand {
  font-size: x-large;
}

.MuiSvgIcon-root {
  font-size: xx-large !important;
}

#nav-dropdown {
  color: black;
  font-size: x-large;
}

.nav-item:hover {
  background-color: #eeeeee;
}

.dropdown-menu {
  text-align: center;
  font-size: large;
}
